# Variáveis básicas

Uma variável, em termos mais gerais, é um 'valor' carregado na memória do computador. Podemos atribuir um *rótulo* para uma variável, salvando-a na memória. Por exemplo, podemos criar e escrever uma variável `x` no console com o comando `print(x)` dessa forma:

In [42]:
#Tudo que vem depois do 'jogo da velha' '#' em uma linha, é considerado um comentário e ignorado pelo compilador
x=50 #'x' é salvo na memória como o valor 50
print(x) #escreve-se 'x' no console

É preciso cuidado, pois **o Python diferencia letras minúsculas de maiúsculas!** Podemos escrever dois valores com o comando print(A,B) apenas os separando por vírgula

In [1]:
a=50
A=20
print(a)
print(A)

50
20

 Uma variável pode ser, basicamente, de três tipos:

1. **String**: Uma string é um pedaço de texto. Strings são escritas entres 'aspas simples' ou "aspas duplas"
2. **Numérica**: Um número com precisão que pode ser especificada. Esse tipo de variável possui basicamente 3 subtipos:\
    A. Inteiro (int)  
    B. Real (float)   
    C. Número complexo (complex)
3. **Bool**: São valores da lógica Booleana que podem ter apenas 2 valores: True (verdadeiro) ou False (falso).
Vamos escrever o número '50' das três formas acima.

***

## 1. String

Esse tipo de variável é um texto, sempre escrito entre `'apas simples'` ou `"aspas duplas"`

In [57]:
A='Este é um texto!'
B="Este também é um texto!"
print(A)
print(B)

Este é um texto!
Este também é um texto!

Abaixo você vê um exemplo de uma *'string'* declarada de forma errada!

In [40]:
A=Este não é um texto!
print(A)

SyntaxError: invalid syntax (<ipython-input-40-3e81b87c20c7>, line 1)

***
## 2. Numérica

### A. Inteiro (int)

Um **int** é apenas um número inteiro.

In [2]:
inteiro=50 #Atribui o valor 50 à variável 'inteiro'
print('inteiro:',inteiro)

inteiro: 50

### B. Real (float)

Um real (float) pode ser escrito de várias maneiras, por exemplo, o número 50 pode ser escrito como

* $50 \rightarrow$`50.0`

* $50 \rightarrow$`50.`

* ${\color{red}5} \times 10^{\color{red}1} \rightarrow$`5e1`

In [5]:
real1=50. #50.0
real2=5e1 #50x10¹
real3=float(50)

print('real1=',real1)
print('real2=',real2)
print('real3=',real3)

real1= 50.0
real2= 50.0
real3= 50.0

### C. Complexo (complex)

A unidade imaginária é *'j'*, portanto, um número complexo qualquer é escrito como $a+ib$ é escrito como

* $a+ib \rightarrow$`a+bj`

* $a+ib \rightarrow$`complex(a,b)`

Por exemplo, o número $z=50-i3$ pode ser escrito da seguinte forma

In [8]:
z1=complex(50,-3)
z2=50-3j #Aqui 'j' representa a unidade imaginária

print('img1=',z1)
print('img2=',z2)

img1= (50-3j)
img2= (50-3j)

***
## 3. Bool

Uma variável do tipo bool (abreviação de Boolean) só pode ter dois valores:

* $Verdadeiro \rightarrow$ `True`
* $False \rightarrow$ `False`

In [71]:
F=False
V=True
print('F=',F)
print('V=',V)

F= False
V= True

***

# Função Type


Podemos descobrir o tipo de uma variável `x` usando o comando `type(x)`

In [10]:
type('50')

str

Note que porque o '50' acima está entre aspas, ele é interpretado como uma **string** (str) e não como um **inteiro**

# Operações Aritméticas

Podemos realizar operações entre diferentes variáveis, como: soma, subtração, divisão, etc.

In [93]:
print('5+2=',5+2) #soma
print('5-2=',5-2) #subtração
print('5*2=',5*2) #multiplicação
print('5/2=',5/2) #divisão
print('5**2=',5**2)#exponenciação

5+2= 7
5-2= 3
5*2= 10
5/2= 2.5
5**2= 25

Também existem algumas operações para facilitar nossa vida. Por exemplo, se queremos o resto da divisão entre 5 e 2, podemos usar o seguinte código

In [86]:
5%2

1

Se queremos truncar o resultado da divisão entre 5 e 2 (aproximar para o valor mais baixo) podemos usar

In [87]:
5//2

2

In [91]:
print('Valor da divisão=', 5/2)
print('Valor truncado da divisão=', 5//2)
print('Resto da divisão=', 5%2)

Valor da divisão= 2.5
Valor truncado da divisão= 2
Resto da divisão= 1

# Operadores de comparação

Podemos usar alguns operadores para comparar duas variáveis ou valores. Por exemplo, digamos que queremos saber se 200 é maior que 75, podemos usar o operador '>' e o console nos dirá se a relação é verdadeira ou falsa

In [96]:
200>75

True

Também podemos utilizar a mesma lógica com os operadores maior ou igual, menor ou igual, diferente, menor, etc

In [109]:
print('200>75 :', 200>75) #200 maior que 75?
print('125>=75 :', 125>=75) #125 maior ou igual a 75?
print('75<75 :', 100<75) #75 menor que 75?
print('75<=75 :', 75<=75) #75 menor ou igual a 75?
print('75==75 :', 75==75) #75 igual a 75?
print('225!=22 :', 225!=22) #225 diferente de 22?

200>75 : True
125>=75 : True
75<75 : False
75<=75 : True
75==75 : True
225!=22 : True

In [108]:
225<75 or 225>75

True